<html>
    <head>
    <title>Caesar Cipher</title>
    </head>
    <body>
    <form>
        <input type='text' name ='phrase'>
        <input type ='number' name='shift'>
        <input type='submit' value='Cipher!'>
    </form>
    <% if !cipher.empty? %>
        <p> Your cipher is <%=cipher%></p>
    <% end %>
    </body>
</html>